.heading
{
	background-color:#90CAF9;
	height:120px;
	padding:10px 0px 0px 0px;	
	background-repeat: round;
	background-size:100% ;
	background: rgb(26, 188, 156);
	background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
    
	
   
}
@keyframes blinker
 {  
  40%
   { 
  	opacity: 0;
   }
}


h1.abc
{
	text-align:center;
	color:#4E342E;	
	font-family: 'Helvetica', sans-serif;		
	text-shadow: 3px 2px #CDDC39;

}
body,
html {
	height: 100%;
	margin: 0;
	padding: 0;	
	background: rgb(26, 188, 156);
	background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
    
}
.container
{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3c/Chennai_Marina_beach_panorama1.jpg");
	background-repeat: round;	
	background:cover;
	height:300px;	
		
	   
}
input[type=text]:focus
 {
    background-color:#E1BEE7;

}
input[type="text"]
{
	margin:15px;   
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 7%;

)


